@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 30;
  margin: 0;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Barriecito', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 0;
  padding: 50px;
  position: relative;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.grid div {
  width: calc(100% / 9);
  height: calc(100% / 9);
  /* border: 1px solid green; */
}


.frog {
  background-image: url('../img/frog.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.lily {
  background-image: url('../img/lily.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.lily_frog {
  background-image: url('../img/lily_frog.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.frog_hit {
  background-image: url('../img/frog_hit.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cartoright {
  background-image: url('../img/cartoright.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.cartoleft {
  background-image: url('../img/cartoleft.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-right:60px solid green;
}
.panelLeft {
  background-color: green;
  color: white;
  height: 100px;
  width: 200px;
  padding: 25px;
  text-align: center;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid red;
}
.panelRight {
  background-color: red;
  color: white;
  height: 100px;
  width: 200px;
  margin-right: 0px;
  padding: 25px;
  text-align: center;
}

.trunk {
background-color: brown;
}
.river {

}

.buttonssection {
  width: 300px;
  margin-top: 20px;
}

button {
  background-color: green;
  color: white;
  height: 80px;
  width: 60%;
  font-family: 'Barriecito', cursive;
  border-radius: 5px;
  font-size: 30px;
  margin-top: 20px;
}


.gameOver {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  font-family: 'Barriecito', cursive;
  font-size: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 255, 0, 0.3);
}

.youWin {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  font-family: 'Barriecito', cursive;
  font-size: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 255, 0, 0.3)
}

.hidden {
  display: none!important;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
  height:700px;
  margin: 0 auto;
}
.board {
  margin: 20px;
  width: 200px;
  font-family: 'Barriecito', cursive;
}
.background {
  width: 900px;
  height: 900px;
  padding-top: 250px;
  background-image: url('../img/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.score {
  font-size: 70px;
  font-family: 'Barriecito', cursive;
  color: cyan;
}
.timer {
  font-size: 70px;
  font-family: 'Barriecito', cursive;
  color: cyan;
}
h1 {
  font-size: 60px;
    font-family: 'Barriecito', cursive;
    color: green;
    line-height: 80%;
}

.test {
  text-align: center;
  color: green;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5%;
  justify-content: center;
  align-items: center;
  background-image: url('../img/frog_fly.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 33;
}
#dazzle {
  font-size: 50px;
  color: #6c4dd3;
  position: absolute;
  bottom: 80px;
  font-family: 'Barriecito', cursive;
  -webkit-animation-name: test;
  -webkit-animation-duration: 1s;
  animation-iteration-count:infinite;
}
@-webkit-keyframes test {
  from {font-size: 30px;}
  to {font-size: 50px;
}
